<div class="container">
  <h3>Edit Your Account</h3>

  <form action=<%="/users/#{@user.id}/edit"%> method="post">
    <input type="hidden" name="_method" value="put"></input>
    Name:<input type="string" name="user[name]" value="<%=@user.name%>">
    Email:<input type="email" name="user[email]" value="<%=@user.email%>">
    Password:<input type="password" name="user[password]" value="<%=@user.password%>"><p>
    Bio:<br>
   <textarea name="user[bio]"><%=@user.bio%></textarea><br>
    <input type="submit" value="Save Changes">
  <form>
  <p>
  <a href=<%="/users/#{@user.id}/delete"%>>Delete Account</a>
</div>