<div class="container">
  <h1>HELLO <%=@user.name.upcase%></h1>

<div class="quote"><script type="text/javascript" src="http://www.brainyquote.com/link/quotear.js"></script></div>

<div class="bio-box">
  <strong>Bio:</strong>
  <%=@user.bio%>
</div>

    <h3>Your Stories</h3>
    <ol>
    <% @user_stories.each do |story| %>
      <li><a href=<%="/stories/#{story.id}"%>><%= story.title %></a></li>
    <% end %>
    </ol>

    <a href="/stories/new">START A NEW STORY</a>
</div>

<div class="container">

  <h3>Critique Partners</h3>
  <ul><% @friends.each do |friend| %>
    <li><a href=<%="/users/#{friend.id}"%>><%= friend.name %></a></li>
    <% end %>
  </ul>

   <h3>All Users</h3>
  <ul>
  <% @users.each do |user| %>
    <li><a href=<%="/users/#{user.id}"%>><%= user.name %></a></li>
  <% end %>
  </ul>
</div>