<div class="container">
  <h1>HELLO <%=@user.name.upcase%></h1>

 <!--  <iframe width="230"
  height="165"
  frameborder="0"
  scrolling="no"
  src="http://iheartquotes.com/api/v1/random?format=html&max_lines=4&max_characters=320&width=225&height=165">
<a href="http://iheartquotes.com/fortune/random">Random Quote</a>
</iframe> -->

<div class="quote"><script type="text/javascript" src="http://www.brainyquote.com/link/quotear.js"></script></div>


    <h3>Your Stories</h3>
    <ol>
    <% @user_stories.each do |story| %>
      <li><a href=<%="/stories/#{story.id}"%>><%= story.title %></a></li>
    <% end %>
    </ol>

    <a href="/stories/new">START A NEW STORY</a>
</div>

<div class="container">

  <h3>Friends</h3>
  <ul>
    <li>Coming Soon!</li>
  </ul>

   <h3>All Users</h3>
  <ul>
  <% @users.each do |user| %>
    <li><a href=<%="/users/#{user.id}"%>><%= user.name %></a></li>
  <% end %>
  </ul>
</div>