<h1>Welcome <%=@user.name%>!</h1>

<h3>Your Stories</h3>
<ol>
<% @user_stories.each do |story| %>
  <li><a href=<%="/stories/#{story.id}"%>><%= story.title %></a></li>
<% end %>
</ol>


<h3>All Users</h3>
<ul>
<% @users.each do |user| %>
  <li><a href=<%="/users/#{user.id}"%>><%= user.name %></a></li>
<% end %>
</ul>

<p>

<a href="/stories/new">START A NEW STORY</a>
<p>
<a href=<%="/users/#{@user.id}/edit"%>>Edit Your Account</a>
<p>
<a href="/logout">LOGOUT</a>