<div class="container">

  <div class="chapter-header"><em> <%= "#{@chapter.title}" %></em></div>

  <div id="chapter-content">
    <%= @chapter.content %>
  </div>

  <h3>Comments:</h3>
  <ul>
  <% @chapter.comments.each do |comment| %>
    <li><a href=<%="/stories/#{@story.id}/chapters/#{@chapter.id}/comments/#{comment.id}"%>><%= comment.content %></a></li>
  <% end %>
  </ul>

  <a href=<%="/stories/#{@story.id}/chapters/#{@chapter.id}/edit"%>>Edit Chapter</a>
  <form action=<%="/stories/#{@story.id}/chapters/#{@chapter.id}/delete"%> method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <button type="submit">Delete Chapter</button>
  </form>
  <a href=<%="/stories/#{@story.id}"%>>Back to Story</a>
</div>